<div class="row">
  <div class="col">
    <%= content_tag :h3, "Resend confirmation instructions" %>
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render "users/shared/links" %>
