<div class="row">
  <div class="col">
    <%= content_tag :h3, "Create new group" %>
    <%= simple_form_for @group do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Create Group", class: "btn btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>
  </div>
</div>
