<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4"></h1>
        <%= content_tag :p, "#{@group.name} group banner, generic default picture (options to be provided), or even group movie" %>
        <hr class="my-4">
        <%= content_tag :p, "Some information about the #{@group.name}" %>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Members" %>
          <ul>
            <% @group.members.each do |member| %>
              <%= link_to "<li>#{member.email}</li>".html_safe, user_path(member.id) %>
            <% end %>
            <% 5.times do %>
              <li>A member</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Some info about the group (recent events, etc.)" %>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <%= link_to "Upcoming Events", "#", class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Past Events", "#", class: "nav-link" %>
            </li>
          </ul>
          <!-- need to handle tabs -->
          <%= render 'upcoming_events' %>
          <%= render 'past_events' %>
        </div>
      </div>
    </div>
  </div>
</div>
