<div class="container">
  <div class="row">
    <div class="col">
      <%= content_tag :h3, "Edit info for #{@user.username}!" %>
      <%= simple_form_for(@user) do |f| %>
        <!-- temporary - probably will want to update this -->
        <%= f.input :image %>
        <%= f.input :about_me %>
        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
