<!-- need to show personal home page if current user is the same as the user -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div class="row">
          <div class="col-5 text-center">
            <%= image_tag(@user.image.profile_thumb.url) if @user.image? %>
          </div>
          <div class="col">
            <h1 class="display-4"></h1>
            <%= content_tag :p, "Temporary User page title for #{@user.username}!" %>
            <hr class="my-4">
            <%= content_tag :p, "#{@user.about_me}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "#{@user.username}'s recent activity, upcoming events, stats, and other stuff" %>
          <%= content_tag :p, "#{@user.username} is so cool!", class: "card-text" %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Groups" %>
          <ul>
            <% @user.groups.each do |group| %>
              <%= link_to "<li>#{group.name}</li>".html_safe, group_path(group.id) %>
            <% end %>
          </ul>
          <!-- need to fix the username later -->
          <%= link_to "See #{@user.username}'s/your groups", groups_user_path(@user.id), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
