<div class="container">
  <div class="row" style="background-color:lightyellow;">
    <div class="col" style="padding:10px;">
      <div class="jumbotron">
        <h1 class="display-4"></h1>
        <%= content_tag :p, "#{@event.name}", class: "lead" %>
        <!-- owners (admins too?) can create a template out of existing event -->
        <button type="button" class="btn btn-secondary float-right">Create template</button>
        <hr class="my-4">
        <%= content_tag :p, "#{@event.description}" %>
        <%= content_tag :p do %>
          Hosted by <%= link_to @event.group.name, group_path(@event.group) %>
        <% end %>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:lightblue;">
    <div class="col" style="padding:10px;">
      <%= content_tag :p, "some content goes here" %>
    </div>
    <div class="col" style="padding:10px;">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Attendees" %>
          <ul>
            <% @event.attendees.each do |attendee| %>
              <%= link_to "<li>#{attendee.username}</li>".html_safe, user_path(attendee) %>
            <% end %>
          </ul>
          <%= link_to "See more", "#", class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:lightblue;">
    <div class="col" style="padding:10px;">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Description" %>
          <%= content_tag :p, "Here it will show details about the event", class: "card-text" %>
          <%= link_to "See more", "#", class: "card-link" %>
        </div>
      </div>
    </div>
    <div class="col" style="padding:10px;">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Comments" %>
          <%= content_tag :p, "Here it will show comments", class: "card-text" %>
          <%= link_to "See more", "#", class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:lightgreen;">
    <div class="col" style="padding:10px;">
      <img class="img-fluid" src="http://fjaerestad.no/wp-content/uploads/2015/04/geolocation_and_google_maps.jpg">
    </div>
  </div>
</div>
